@charset "UTF-8";

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lexend:wght@100..900&family=Smooch+Sans:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lexend:wght@100..900&family=Manrope:wght@200..800&family=Smooch+Sans:wght@100..900&display=swap');



@font-face {
    font-family: arthos;
    src: url(../font/Arthos\ demo.ttf) format(truetype);
}

@font-face {
    font-family: bayon-regular;
    src: url(../font/Bayon-Regular.ttf) format(truetype);
}


:root {
    --amarelo: #ffc72c;
    --preto: black;
    --branco: white;
    --cinza: #d9d9d9;
    --bayon: bayon-regular;
    --arthos: arthos;
    --bebas: "Bebas Neue", sans-serif;
    --manrope: "Manrope", sans-serif;

}

body{
    background-image: url(../img/background.jpg);
    background-size: cover;
}
.container{
    width: 60%;
    margin-top: 10%;
    margin-left: 20%;
    display: flex;
    flex-wrap: wrap;
    height: 400px;
}

.box{
    flex: 1;
    transition: .5s;
    cursor: pointer;
}

.container .box:hover {
    flex: 3;
    color: white;
    text-align: justify;
    background-image: rgba(0, 0, 0, 0.884);
}

.container .box:nth-child(1){
    background-image: url(../img/Futebol\ de\ Campo.jpg);
}
.container .box:nth-child(2){
    background-image: url(../img/futSociety.png);
}
.container .box:nth-child(3){
    background-image: url(../img/futsal.jpg);
}
.container .box:nth-child(4){
    background-image: url(../img/volei\ praia.jpg);
}
.container .box:nth-child(5){
    background-image: url(../img/voleibol.jpg);
}
.container .box:nth-child(6){
    background-image: url(../img/Basquetebol.jpg);
}
.container .box:nth-child(7){
    background-image: url(../img/tenis.jpg);
}
.container .box:nth-child(8){
    background-image: url(../img/Beach\ tennis.jpg);
}