@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}




/*--------------------- HEADER ---------------------*/
a {
    font-family: sans-serif;
    text-decoration: none;
}

.header {
    background: #0f0f0f;
    padding-inline: 15px;
}

.nav {
    height: 70px;
    margin-inline: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo {
    font-size: 40px;
}

.logo:hover {
    color: white;
}

.nav-list {
    display: grid;
    list-style: none;
    text-align: center;
    grid-template-columns: repeat(4, 0.3fr);
    background-image: url(../assets/Navbar.png);
    background-repeat: no-repeat;
    width: 1fr;
    height: 50px;
}

.nav-list a {
    color: black;
    font-size: 18px;
    padding-block: 16px;

}

.nav-list a:hover {
    color: #FFC72C;
}

.ul-nav {
    width: 800px;
    height: 35px;
    padding: 10px;
    
}



/*------ BARRA DE PESQUISA DO HEADER ------*/


form {
    border-radius: 0.3em;
    padding: 0.3em;
}

form input, form button {
    font-size: 1.2em;
    border-radius: 0.2em;
    border: none;
    padding: 0.2em;
}

form button {
    cursor: pointer;
    background: none;
    color: whitesmoke;
}

form button:hover {
    background-color: whitesmoke;
    color: #FFC72C;
}