@charset "UTF-8";

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lexend:wght@100..900&family=Smooch+Sans:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lexend:wght@100..900&family=Manrope:wght@200..800&family=Smooch+Sans:wght@100..900&display=swap');



@font-face {
    font-family: arthos;
    src: url(../font/Arthos\ demo.ttf) format(truetype);
}

@font-face {
    font-family: bayon-regular;
    src: url(../font/Bayon-Regular.ttf) format(truetype);
}


:root {
    --amarelo: #ffc72c;
    --preto: #1b1a1a;
    --branco: white;
    --cinza: #d9d9d9;
    --bayon: bayon-regular;
    --arthos: arthos;
    --bebas: "Bebas Neue", sans-serif;
    --manrope: "Manrope", sans-serif;

}

body{
    background-image: url(../img/background.jpg);
    background-size: cover;
}

h4{
    font-family: var(--bebas);
    font-weight: lighter;
    color: white;
    margin: 10px 0 10px 0;

}

.tform{
    margin: 10px 0 10px 0;
    color: black;
    font-weight: lighter;
}

.sex{
    font-weight: lighter;
    margin-right: 5px;

}

.t1{
    font-family: var(--arthos);
}
#form-ui{
display: flex;
justify-content: space-around;


flex-wrap: wrap;
}
#form {
    margin-top: 2%;
    margin-bottom: 2%;
    width: 400px;
    height: 840px;
    padding: 25px;
    background-color: #1b1a1a;
    border-radius: 10px;
}

#form2 {
    margin-top: 2%;
    margin-bottom: 2%;
    width: 400px;
    height: 720px;
    padding: 25px;
    background-color: var(--amarelo);
    border-radius: 10px;
}

.sbt{
    color: white;
}

.t2{
    color:black
}

.t3{
    font-family: var(--arthos);
    color: black;

}

#form-body {
    right: 25px;
    left: 25px;
    width: 350px;
}

#welcome-lines {
    text-align: center;
    line-height: 1;
}

#welcome-line-1 {
    color: var(--amarelo);
    font-weight: 600;
    font-size: 40px;
}

#welcome-line-2 {
    color: #ffffff;
    font-size: 18px;
    margin-top: 17px;
}

#input-area {
    margin-top: 40px;
}
/*formulario */
.form-inp {
    width: 100%;
    padding: 11px 25px;
    background: transparent;
    border: 1px solid #e3e3e3;
    line-height: 1;
    border-radius: 8px;
    color: var(--amarelo);
}

.form-inp2 {
    width: 100%;
    padding: 11px 25px;
    background: transparent;
    border: 1px solid #000000;
    line-height: 1;
    border-radius: 8px;
}

.form-inp:first-child {
    margin-bottom: 15px;
}

.form-inp input {
    width: 100%;
    background: none;
    font-size: 13.4px;
    color: var(--amarelo);
    border: none;
    padding: 0;
    margin: 0;
}

.form-inp2 input {
    width: 100%;
    background: none;
    font-size: 13.4px;
    color: black;
    border: none;
    padding: 0px;
    margin: 0;
}

.form-inp input:focus {
    outline: none;
}

#submit-button-cvr {
    margin-top: 20px;
}

#submit-button {
    display: block;
    width: 100%;
    color: var(--amarelo);
    background-color: transparent;
    font-weight: 600;
    font-size: 14px;
    margin: 0;
    padding: 14px 13px 12px 13px;
    border: 0;
    outline: 1px solid var(--amarelo);
    border-radius: 8px;
    line-height: 1;
    cursor: pointer;
    transition: all ease-in-out .3s;
}

#submit-button2 {
    display: block;
    width: 100%;
    color: black;
    background-color: transparent;
    font-weight: 600;
    font-size: 14px;
    margin-top: 30px;
    padding: 14px 13px 12px 13px;
    border: 0;
    outline: 1px solid black;
    border-radius: 8px;
    line-height: 1;
    cursor: pointer;
    transition: all ease-in-out .3s;
}

#submit-button:hover {
    transition: all ease-in-out .3s;
    background-color: var(--amarelo);
    color: #161616;
    cursor: pointer;
}

#submit-button2:hover {
    transition: all ease-in-out .3s;
    background-color: black;
    color: white;
    cursor: pointer;
}

#forgot-pass {
    text-align: center;
    margin-top: 10px;
}

#forgot-pass a {
    color: #868686;
    font-size: 12px;
    text-decoration: none;
}

#bar:before {
    right: -20px;
}

#bar:after {
    right: -38px;
}

/* ---------------------------------Radio ---------------------------------*/ 
.radio-input {
    display: flex;
    align-items: center;
}

.radio-input input {
    appearance: none;
    width: 2em;
    height: 2em;
    background-color: #4b4b4b;
    border-radius: 50%;
    transition: .4s ease-in-out;
}

.radio-input input:hover {
    cursor: pointer;
}

.radio-input .circle {
    position: relative;
    top: 0.01em;
    left: -1.1em;
    width: 0.6em;
    height: 0.6em;
    background-color: yellow;
    scale: 0;
    border-radius: 10px;
    transition: .4s ease-in-out;
}

.radio-input input:checked {
    box-shadow: none;

}

.radio-input input:checked + .circle {
    transform: rotate(360deg);
    scale: 1;
}

#form4{
    margin-top: 2%;
    margin-bottom: 2%;
    width: 400px;
    height: 400px;
    padding: 25px;
    background-color: #1b1a1a;
    border-radius: 10px;

}

.pj{
    color: white;    
}

.pf{
    color: white;
}

.pf:hover{
    background-color: var(--amarelo);
}
.buttonPF:hover{
    background-color: var(--amarelo);
}
.pj:hover{
    background-color: var(--amarelo);
}
.buttonPJ:hover{
    background-color: var(--amarelo);
}
.buttonPF{
    text-decoration: none;
    border-radius: 8px;
    border: solid 2px white;
    cursor: pointer;
    background: none;
    width: 150px;
    height: 150px;
}

.buttonPJ{
    text-decoration: none;
    border-radius: 8px;
    border: solid 2px white;
    cursor: pointer;
    background: none;
    width: 150px;
    height: 150px;
}

#buttonsp{
    margin-top: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}